/* NAVIGATION DRAWER */
#navDrawer {
  .nav-link.router-link-exact-active.router-link-active {
    background: $primary-color !important;
    color: #fff;
  }

  .nav-link:focus {
    background: transparent !important;
  }
}

/* LANDING NAVBAR */
#sticky-header {
  .logo img {
    width: 130px !important;
  }
}


.brand-link img {
  width: 70% !important;
  margin: auto;
}

#app {
  .main-footer {
    a {
      color: $primary-color;
    }
  }
  select {
    -moz-appearance:none; /* Firefox */
    -webkit-appearance:none; /* Safari and Chrome */
    appearance:none;
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNSIgaGVpZ2h0PSIyNSIgZmlsbD0ibm9uZSIgc3Ryb2tlLXdpZHRoPSIyIiBzdHJva2U9IiNiYmIiPjxwYXRoIGQ9Ik02IDlsNiA2IDYtNiIvPjwvc3ZnPg==) !important;
    background-repeat: no-repeat !important;
    background-position-x: 98% !important;
    background-position-y: 50% !important;
  }
  select::-ms-expand  {
    display: none !important;
  }
}