.score-wrap {
  i {
    color: gold;
  }
}

.accent {
  color: $primary-color;
  font-weight: 900;
}

.hoverable-link {
  &:hover {
    color: $primary-color;
  }
}

.fa-star {
  color: gold;
}

.fa-star.dark {
  color: #c4c4c4;
}

.pt-7 {
  padding-top: 70px;
}

/* PRELOADER */

#preloader {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 999999999;
  background: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.lds-ellipsis {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
  margin: auto;
}

.lds-ellipsis div {
  position: absolute;
  top: 33px;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background: $primary-color;
  -webkit-animation-timing-function: cubic-bezier(0, 1, 1, 0);
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}

.lds-ellipsis div:nth-child(1) {
  left: 8px;
  -webkit-animation: lds-ellipsis1 0.6s infinite;
  animation: lds-ellipsis1 0.6s infinite;
}

.lds-ellipsis div:nth-child(2) {
  left: 8px;
  -webkit-animation: lds-ellipsis2 0.6s infinite;
  animation: lds-ellipsis2 0.6s infinite;
}

.lds-ellipsis div:nth-child(3) {
  left: 32px;
  -webkit-animation: lds-ellipsis2 0.6s infinite;
  animation: lds-ellipsis2 0.6s infinite;
}

.lds-ellipsis div:nth-child(4) {
  left: 56px;
  -webkit-animation: lds-ellipsis3 0.6s infinite;
  animation: lds-ellipsis3 0.6s infinite;
}

@-webkit-keyframes lds-ellipsis1 {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@keyframes lds-ellipsis1 {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@-webkit-keyframes lds-ellipsis3 {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  100% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }
}

@keyframes lds-ellipsis3 {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  100% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }
}

@-webkit-keyframes lds-ellipsis2 {
  0% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }
  100% {
    -webkit-transform: translate(24px, 0);
    transform: translate(24px, 0);
  }
}

@keyframes lds-ellipsis2 {
  0% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }
  100% {
    -webkit-transform: translate(24px, 0);
    transform: translate(24px, 0);
  }
}

.comment-list .thumb {
  width: 90px;
  height: 90px;
  background: #b4d5ff;
  border-radius: 100%;
  p {
    color: darken($primary-color, 20);
    font-weight: 600;
    font-size: 1.7rem;
  }
}

/* FORM */
select.form-control {
  height: 48px !important;
}

.salon-gallery img {
  border-radius: 4px;
  height: 500px;
  object-fit: cover;
}

.salon-main-info {
  width: 100%;
  height: 100%;
  background-color: $dark-gray;
  padding: 0 40px;
  border-radius: 4px;
  .fa-star {
    font-size: 25px;
  }
  h1 {
    font-size: 45px;
    font-weight: 600;
  }
  cite {
    font-style: normal;
    font-size: 18px;
    color: $light_gray;
  }
}


.salon-location {
  img {
    width: 70px;
  }
}

.salon-features {
  li {
    display: inline-block;
    margin-right: 20px;
    font-size: 1.1rem;
    i {
      margin-right: 10px;
    }
  }
}

.salon-worktime p {
  font-size: 1.1rem;
  color: #0b0b0b;
  font-weight: 500;
}

.salon-services {
  li {
    padding: 20px 0;
    border-bottom: solid 1px lighten($light-gray, 30);
  }
}

.disabled {
  opacity: 0.6;
  pointer-events: none;
}

#commentForm input.disabled {
  opacity: 0.6 !important;
  background: #e8e8e8;
}

#aboutPage {
  .html-editor {
    p {
      font-size: 1.2rem;
      margin-bottom: 0.5rem;
    }
  }
}

#accordion {
  width: 100%;
}

#registerPage {
  .nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    background-color: #ffffff;
    border-bottom: solid 3px $primary-color;
  }
  .nav-pills .nav-link {
    border-radius: 0;
    padding: 0;
    h4 {
      position: relative;
      top: -15px;
    }
    p {
      font-size: 1rem;
    }
    svg {
      position: relative;
      top: 3px;
      path {
        fill: $primary-color !important;
      }
    }
  }
}

.contact_form {
  select {
    -moz-appearance:none; /* Firefox */
    -webkit-appearance:none; /* Safari and Chrome */
    appearance:none;
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNSIgaGVpZ2h0PSIyNSIgZmlsbD0ibm9uZSIgc3Ryb2tlLXdpZHRoPSIyIiBzdHJva2U9IiNiYmIiPjxwYXRoIGQ9Ik02IDlsNiA2IDYtNiIvPjwvc3ZnPg==) !important;
    background-repeat: no-repeat !important;
    background-position-x: 98% !important;
    background-position-y: 50% !important;
  }
  select::-ms-expand  {
    display: none !important;
  }
}

.page-item.active .page-link {
  background-color: $primary-color;
  border-color: $primary-color;
}

.page-item .page-link {
  color: $primary-color;
  border-radius: 0 !important;
  outline: none;
  box-shadow: none;
}

.vdatetime-input {
  border: none;
  line-height: 33px;
  font-size: 13px;
  width: 100%;
  height: 100%;
  padding: 20px;
}

.vdatetime-popup__header,
.vdatetime-calendar__month__day--selected > span > span, .vdatetime-calendar__month__day--selected:hover > span > span {
  background: $primary-color !important;
}

.vdatetime-popup__actions__button, .vdatetime-time-picker__item--selected {
  color: $primary-color !important;
}